html, body {
  margin: 0;
  overflow: hidden;
  padding: 0;
}
/* .wrapper{
 
  border: 5px solid blue;
} */
.control_panel{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

canvas {
  border: 5px solid red;
  margin-top: 10px;
  
}